---
import BlogLayout from "@layouts/blog-layout.astro";

// if (!getSession(Astro.request)) return Astro.redirect("/blog/login");

---

<BlogLayout title="Crear un nuevo posteo" description="">
  <section>

    <h2
    >
      Nueva publicación
    </h2>
  </section>
</BlogLayout>
