---
import BlogLayout from "@layouts/blog-layout.astro";
import HeaderBlog from "@components/blog/header-blog.astro";
import ErrorCard from "@components/error-card.astro";
import PostCard from "@components/blog/post-card/index.astro"
import { ApiFn } from "@services/posts";

const {errors, getPosts} = new ApiFn(Astro.url.origin)

const posts = await getPosts()
---

<BlogLayout
  title="Leonel Donati - Blog"
  description="Aprende sobre programación web con tutoriales, guías y recursos sobre HTML, CSS, JavaScript, frameworks como React, desarrollo backend con Node.js, bases de datos, y las mejores prácticas para crear sitios web modernos y eficientes."
>
  <section class="text-white min-h-screen">
    <HeaderBlog />

    <h1 class="font-bold text-[3em]">El blog de la web</h1>


    <div class="flex max-w-fit h-[740px] flex-col gap-2 items-center overflow-y-scroll overflow-x-hidden px-4 pb-6">
      {
        posts && posts.map((post) => <PostCard post={post} />)
      }
    </div>
    
    {errors && <ErrorCard message={errors.message} status={errors.status} />} 
  </section>
</BlogLayout>
