---
import RepoCard from "../../components/RepoCard.astro";
import Layout from "../../layouts/Layout.astro";
import { getRepos } from "../../services/github";

const repos = await getRepos()

---

<Layout title="Projects">
  <section>
    <h2 class="text-5xl text-center underline underline-offset-8 mb-5 text-slate-300">Projects</h2>

    <div class="grid grid-cols-3 w-full gap-5 p-4">

      {repos?.map(repo => <RepoCard repo={repo} />)}
    </div>
  </section>
</Layout>
