---
import { manageLargeContent, getTopicsArray, type Post } from '@scripts/posts'
import { Image } from 'astro:assets';
import Topic from "@components/blog/post-card/topic.astro"
interface Props {
  post: Post;
}
const {post} = Astro.props

const topicsArray = getTopicsArray(post.topics)
const contentParts = manageLargeContent(post.content)

---
<article class="flex flex-col items-start gap-2 max-w-[500px] w-full h-auto p-2 bg-blue-600/40 shadow shadow-blue-700/30 rounded">
  
  <div class="flex flex-row gap-1 items-center">
    {topicsArray.map(topic => <Topic topic={topic} />)}
  </div>
  <h2 class='font-bold text-xl'>
    {post.title}
  </h2>

  {
    contentParts.map(part => <p>{part}</p>)
  }
</article>