---
import Layout from "../layouts/Layout.astro";
---

<Layout title="My Blog!">
  <section id="blog" class="w-full h-screen flex items-center justify-center text-center">
    <h1 class="text-4xl text-red-300">My Blog coming soon...</h1>
  </section>
</Layout>

<style>

#blog {
  animation: text infinite alternate 2s 2s ease;
}
  @keyframes text {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }

  }
</style>