---
import {
  IconBrandX,
  IconBrandLinkedin,
  IconBrandGithub,
  IconBrandWhatsapp,
} from "@tabler/icons-react";
import { format } from "@formkit/tempo";
import GoHomeBtn from "../components/go-home-btn.astro";
import RsBtn from "../components/rs-btn.astro";
import Title from "../components/title.astro";
import Layout from "../layouts/layout.astro";
import { RRSS } from "../const";

const currentDate = format(new Date(), "full", "es");
---

<Layout
  currentPage="Contacto"
  description="Si quieres contactarme puedes hacerlo de la manera que prefieras. Por aquí te dejo todas mis redes sociales y métodos de contacto."
>
  <section>
    <GoHomeBtn />

    <Title style=" margin-top: 10px;" t_name="contact-title">
      Contáctame, creemos algo increíble.
    </Title>

    <div>
      <ul
        class="flex flex-col gap-6 h-full md:h-[60%] justify-center md:max-w-full max-w-[400px] mx-auto"
      >
        <li>
          <RsBtn
            href={RRSS.X}
            name="X"
            colors={{
              bg: "rgba(33, 33, 33, .6)",
              border: "rgb(33,33,33)",
              text: "rgba(240,240,240,.8)",
            }}
          >
            <IconBrandX slot="icon" />
            <strong slot="text"> Visita mi X </strong>
          </RsBtn>
        </li>
        <li>
          <RsBtn
            href={RRSS.LinkedIn}
            name="LinkedIn"
            colors={{
              bg: "rgba(10,102,194,.6)",
              border: "rgb(10,102,194)",
              text: "rgba(240,240,240,.8)",
            }}
          >
            <IconBrandLinkedin slot="icon" />
            <strong slot="text"> Visita mi LinkedIn </strong>
          </RsBtn>
        </li>
        <li>
          <RsBtn
            href={RRSS.GitHub}
            name="GitHub"
            colors={{
              bg: "rgba(11,11,11,.6)",
              border: "rgb(11,11,11)",
              text: "rgba(240,240,240,.8)",
            }}
          >
            <IconBrandGithub slot="icon" />

            <strong slot="text"> Visita mi GitHub </strong>
          </RsBtn>
        </li>
        <li>
          <RsBtn
            href="https://wa.me/3417502479"
            name="WhatsApp"
            colors={{
              bg: "rgba(37,211,102,.6)",
              border: "rgb(37,211,102)",
              text: "rgba(240,240,240,.8)",
            }}
          >
            <IconBrandWhatsapp slot="icon" />
            <strong slot="text"> Envíame un WhatsApp </strong>
          </RsBtn>
        </li>
      </ul>
    </div>

    <footer
      class="flex flex-col md:flex-row gap-4 items-center justify-center md:mt-0 mt-[100px]"
    >
      <strong class="md:text-xl text-white text-sm"
        >Leonel Donati - Desarrollador Web</strong
      >
      <span class="text-sky-200 italic">{currentDate}</span>
    </footer>
  </section>
</Layout>

<style>
  section {
    position: relative;
    min-height: 100dvh;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
    padding: 10px;
  }
</style>
