---
import {
  IconBrandX,
  IconBrandLinkedin,
  IconBrandGithub,
  IconBrandWhatsapp,
} from "@tabler/icons-react";
import { format } from "@formkit/tempo";
import GoHomeBtn from "../components/go-home-btn.astro";
import SendEmailForm from "../components/ui/send-email-form";
import RsBtn from "../components/rs-btn.astro";
import Title from "../components/title.astro";
import Layout from "../layouts/layout.astro";
import { RRSS } from "../const";

const currentDate = format(new Date(), "full", "es");
---

<Layout
  currentPage="Contacto"
  description="Si quieres contactarme puedes hacerlo de la manera que prefieras. Por aquí te dejo todas mis redes sociales y métodos de contacto."
>
  <section>
    <header class="flex flex-row justify-between items-center">
      <GoHomeBtn class="hidden sm:block" />

      <Title class="flex-1" t_name="contact-title">
        Contáctame, creemos algo increíble.
      </Title>
    </header>

    <div class="flex flex-col justify-center items-center">
      <SendEmailForm client:visible />

      <ul class="flex flex-1 flex-row gap-6 h-full justify-center mt-6">
        <li>
          <RsBtn
            href={RRSS.LinkedIn}
            name="LinkedIn"
            colors={{
              bg: "rgba(10,102,194,.6)",
              border: "rgb(10,102,194)",
              text: "rgba(240,240,240,.8)",
            }}
          >
            <IconBrandLinkedin slot="icon" />
          </RsBtn>
        </li>
        <li>
          <RsBtn
            href={RRSS.GitHub}
            name="GitHub"
            colors={{
              bg: "rgba(11,11,11,.6)",
              border: "rgb(11,11,11)",
              text: "rgba(240,240,240,.8)",
            }}
          >
            <IconBrandGithub slot="icon" />
          </RsBtn>
        </li>
        <li>
          <RsBtn
            href="https://wa.me/3417502479"
            name="WhatsApp"
            colors={{
              bg: "rgba(37,211,102,.6)",
              border: "rgb(37,211,102)",
              text: "rgba(240,240,240,.8)",
            }}
          >
            <IconBrandWhatsapp slot="icon" />
          </RsBtn>
        </li>
      </ul>
    </div>

    <footer
      class="flex flex-col md:flex-row gap-4 items-center justify-center md:mt-0 mt-[100px]"
    >
      <strong class="md:text-xl text-white text-sm"
        >Leonel Donati - Desarrollador Web</strong
      >
      <span class="text-sky-200 italic">{currentDate}</span>
    </footer>

    <GoHomeBtn class="sm:hidden fixed bottom-2 right-2" />
  </section>
</Layout>

<style>
  section {
    position: relative;
    min-height: 100dvh;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
    padding: 10px;
  }
</style>
