---
import GoHomeBtn from "../components/go-home-btn.astro";
import Layout from "../layouts/layout.astro";
---

<Layout
description="Si quieres contactarme puedes hacerlo de la manera que más prefieras. Por aquí te dejo todas mis redes sociales y mé"
>
<section class="min-h-screen">
  <GoHomeBtn /> 
</section>
</Layout>