---
import Layout from "../layouts/layout.astro";
import Title from "../components/title.astro";
import { IconHeartHandshake, IconUser } from "@tabler/icons-react";
---

<Layout>
  <section class="w-full max-w-[1400px] min-h-screen mx-auto overflow-hidden">
    <a href="/about" id="navigate-btn" transition:name="about-section">
      <Title t_name="about-title"> ¡Conóceme un poco! </Title>

      <IconUser 
        className="aspect-square object-cover rounded-full max-w-[60px] h-auto absolute bottom-10 z-0 opacity-10 text-white/80"
        id="image"
        transition:name="about-img"
      />
    </a>
    <a href="/projects" id="navigate-btn">
      <Title> ¡Mira mis proyectos! </Title>

      
    </a>
    <a href="/contact" id="navigate-btn">
      <Title> ¡Trabajemos juntos! </Title>

      <IconHeartHandshake
        className="aspect-square object-cover rounded-full max-w-[60px] h-auto absolute bottom-10 z-0 opacity-10 text-white/80"
        id="image"
      />
    </a>
    <a href="#" id="navigate-btn">
      <Title> ¡Visita mi blog! </Title>
    </a>
  </section>
</Layout>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to top, #000, #444);
  }

  #navigate-btn {
    position: relative;
    max-width: 100%;
    padding: 6px;
    border: 1px solid rgba(22, 22, 22);
    background: linear-gradient(
      to left bottom,
      rgb(0, 0, 0, 0.6),
      rgb(33, 33, 33, 0.9)
    );
    box-shadow: 0 0 10px transparent;
    overflow: hidden;
    transition:
      transform 0.2s ease-in-out,
      box-shadow 0.4s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(0.99);
      box-shadow: 0 10px 20px rgb(100, 100, 100);
    }

    & > h2 {
      transition: transform 0.2s ease;
      transform: scale(0.60);
    }
    &:hover > h2 {
      transform: scale(1);
    }

    & > #image {
      width: 100%;
      transition:
        max-width 0.1s ease,
        border-radius 0.1s ease-in;
    }
    &:hover > #image {
      max-width: 400px;
      border-radius: 10px;
    }
  }
</style>
