---
import Layout from "../layouts/layout.astro";
import Title from "../components/title.astro";
import {
  IconHeartHandshake,
  IconUser,
  IconAppWindow,
} from "@tabler/icons-react";
---

<Layout
  description="Leonel Donati, desarrollo web JavaScript. Aplicaciones web, sitios, landing pages, e-commerce."
>
  <section class="w-full max-w-[1400px] min-h-screen mx-auto overflow-hidden">
    <!-- SECCIÓN SOBRE MÍ -->
    <a
      href="/about"
      id="navigate-btn"
      transition:name="about-section"
      title="¡Clickea para conocer más sobre mí!"
    >
      <Title t_name="about-title"> ¡Conóceme! </Title>

      <IconUser id="image" transition:name="about-img" />
    </a>

    <!-- SECCIÓN PROYECTOS -->
    <a
      href="/projects"
      id="navigate-btn"
      title="¡Aquí puedes encontrar mis proyectos!"
      transition:name="proyect-section"
    >
      <Title t_name="proyect-title"> ¡Mis proyectos! </Title>

      <IconAppWindow id="image" transition:name="project-img" />
    </a>

    <!-- SECCIÓN CONTACTO -->
    <a
      href="/contact"
      id="navigate-btn"
      title="¡Hablemos! Estoy seguro que podemos crear algo increíble."
    >
      <Title t_name="contact-title"> ¡Contáctame! </Title>

      <IconHeartHandshake id="image" />
    </a>

    <!-- BLOG (NO DISPONIBLE AÚN) -->
    <a
      href="/blog"
      id="navigate-btn"
      title="¡Visita mi blog!"
      class="pointer-events-none opacity-70"
    >
      <Title> ¡Visita mi blog! </Title>
    </a>
  </section>
</Layout>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #navigate-btn {
    position: relative;
    max-width: 100%;
    padding: 6px;
    background: linear-gradient(to left bottom, #ff7800, #ffa600);
    box-shadow: 0 0 10px transparent;
    overflow: hidden;
    transition: box-shadow 0.4s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      box-shadow: inset 0 0 20px #ffa600;
    }

    & > h2 {
      transition: transform 0.2s ease;
      transform: scale(0.6);
    }
    &:hover > h2 {
      transform: scale(1);
    }

    & > #image {
      max-width: 60px;
      width: 100%;
      height: auto;
      aspect-ratio: 4/4;
      object-fit: cover;
      position: absolute;
      bottom: 10%;
      z-index: 0;
      opacity: 0.5;
      color: rgba(240, 240, 240, 0.4);
      transition:
        max-width 0.3s ease,
        border-radius 0.1s ease-in;
    }
    &:hover > #image {
      max-width: 400px;
      border-radius: 10px;
    }
  }
</style>
