---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import ToTopBtn from "../components/ToTopBtn.astro";
---

<Layout>
  <main>
    <Header />

    <Hero />

    <Projects />

    <About />

    <ToTopBtn />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 1em;
  }
</style>
