---
import GoHomeBtn from "../components/go-home-btn.astro";
import ProyectCard from "../components/proyect-card.astro";
import Title from "../components/title.astro";
import Layout from "../layouts/layout.astro";
import dontBeScaredImg from "../assets/proyects/no-te-asustes.png";
import livioWebImg from "../assets/proyects/livio-web-3.png";
---

<Layout
  currentPage="Proyectos"
  description="Aquí puedes encontrar algunos de mis proyectos, construyo aplicaciones con JavaScript. Productos de máxima calidad y excelente precio."
>
  <section
    class="min-h-screen relative w-full p-2"
    transition:name="proyect-section"
  >
    <GoHomeBtn />

    <Title t_name="proyect-title" class="text-center my-6">Mis proyectos.</Title
    >

    <div class="flex flex-col gap-2" transition:name="project-img">
      <ProyectCard
        title="No te asustes!"
        description="Este proyecto es para la hackaton de @midudev y @cloudinary. Creado con Astro y TypeScript. En él he podido desempeñar tareas como la interacción del usuario con la cámara, crear y modificar canvas, tomar screenshots, guardar imágenes en servicios externos."
        image={dontBeScaredImg}
        githubUrl="https://github.com/leoneldonati/no-te-asustes"
        deployUrl="https://noteasustes.fun"
        tags={["Astro", "TypeScript", "React"]}
      />

      <ProyectCard
        title="Livio"
        description="Livio es un proyecto de red social enfocada en actualidad y política, este proyecto ha sido creado con Astro y se han utilizado características de optimizacion como las 'server islands'."
        image={livioWebImg}
        githubUrl="https://github.com/leoneldonati/livio-web"
        deployUrl="https://livio-web.netlify.app/"
        tags={["Astro", "TypeScript", "Server Islands"]}
      />
    </div>
  </section>
</Layout>
