---
import { Image } from "astro:assets";
import leoImg from "../../public/avatar.avif";
import Javascript from "../icons/Javascript.astro";
import Html from "../icons/Html.astro";
import Git from "../icons/Git.astro";
import Node from "../icons/Node.astro";
import Css from "../icons/Css.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import Ear from "../icons/Ear.astro";
import Coffe from "../icons/Coffe.astro";
import Brain from "../icons/Brain.astro";
import Progress from "../icons/Progress.astro";
import Transform from "../icons/Transform.astro";
import { getNumberOfRepos } from "../services/github";

const repos = await getNumberOfRepos()
---

<section id="about">
  <h2>
    About me<span class="accent">.</span>
  </h2>

  <div class="wrapper">
    <div class="wrapper-skills">
      <ul>
        <span class="skills-title">
          Hard skills<span class="accent">.</span>
        </span>

        <li>
          <Javascript />
          JavaScript
        </li>
        <li>
          <Html />
          HTML
        </li>
        <li>
          <Css />
          CSS
        </li>
        <li>
          <Node />
          Node JS
        </li>
        <li>
          <AstroIcon />
          Astro
        </li>
        <li>
          <Git />
          Git
        </li>
      </ul>

      <ul>
        <span class="skills-title">
          Soft skills<span class="accent">.</span>
        </span>
        <li>
          <Ear />
          Communication
        </li>
        <li>
          <Brain />
          Critical Thinking
        </li>
        <li>
          <Transform />
          Adaptability
        </li>
        <li>
          <Progress />
          Pragmatism
        </li>
        <li>
          <Coffe />
          Hard work
        </li>
      </ul>
    </div>

    <div class="wrapper-paragraphs">
      <p>
        3 years ago I began this journey of programming, from my first Sega at
        age 8, I found myself fascinated by the technological world. I decided
        to start my path as a totally <strong>self-taught professional</strong>, training with
        Front-end web technologies.
      </p>
      <p>
        Currently, I have complete web stack management, using in my
        technology projects such as: React, Node, Astro, Express, Mongo DB,
        NextJS. Thus creating powerful interactive apps and robust APIs,
        thus offering high quality products.
      </p>
    </div>

    <picture>
      <Image
        src={leoImg}
        alt="Leonel Donati photo"
        loading="lazy"
        class="avatar"
      />
    </picture>

    <div class="wrapper-stats">

      
        <p><a href="https://github.com/leoneldonati" target="_blank" rel="noreferrer noopener" title="¡Go to GitHub!">Proyects on Github:</a> <span>{repos}</span></p>

        <p>Hours in coding: <i style="color: blueviolet; font-size: 1.3em; margin-left: .3em;">any</i></p>
    </div>
  </div>

</section>

<style>
  section {
    min-height: 100vh;
    padding: 6em 0 1.2em 0;
  }
  h2 {
    font-size: var(--title-size);
  }
  .accent {
    color: var(--color-2);
  }
  .avatar {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid var(--color-2);
    border-radius: 0.6em;
    grid-area: image;
  }
  picture {
  }
  .wrapper {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      "skills image"
      "about stats";
    gap: 0.6em;
    grid-template-columns: 650px 1fr;
    grid-template-rows: 1fr auto;
    justify-content: center;
    margin-top: 2em;
  }
  .wrapper-paragraphs {
    display: flex;
    flex-flow: column;
    gap: 0.5em;
    color: #fff;
    border: 2px solid var(--color-2);
    font-size: larger;
    grid-area: about;
    background: linear-gradient(
      to bottom,
      rgba(44, 44, 44, 0.8),
      rgba(44, 44, 44, 0.9)
    );
    box-shadow: 0 0 0.8em rgba(44, 44, 44, 0.9);
    padding: 0.5em 1em;
    border-radius: 0.5em;
  }
  .wrapper-skills {
    border: 2px solid var(--color-2);
    height: 100%;
    grid-area: skills;
    background: linear-gradient(
      to bottom,
      rgba(33, 33, 33, 0.9),
      rgba(44, 44, 44, 0.9)
    );
    border-radius: 0.6em;
    box-shadow: 0 0 0.8em rgba(44, 44, 44, 0.9);
    padding: 0.5em 1em;
    display: flex;
    gap: 1.9em;
  }
  .wrapper-skills > ul {
    list-style: none;
    font-size: 1.2em;
  }
  .wrapper-skills > ul > li {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.4em;
  }
  .wrapper-stats {
    border: 2px solid var(--color-2);
    grid-area: stats;
    border-radius: 0.6em;
    background: linear-gradient(to top left, rgba(33, 33, 33, 0.9), rgba(33, 33, 33, 0.8));
    padding: 0.5em 1em;
    font-size: 1.4em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: .8em;


    & > p > span {
      font-size: 1.9em;
      margin-left: .3em;
      color: var(--color-2);
    }
  }

  .skills-title {
    font-size: 3em;
  }
  .wrapper-skills > ul:nth-child(1) {
    grid-area: hard;
  }
  .wrapper-skills > ul:nth-child(2) {
    grid-area: soft;
  }
  @media (width <= 1200px) {
    .wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "skills skills"
        "image about";
    }
  }
  @media (width <= 800px) {
    .wrapper {
      max-width: 400px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "image"
        "skills"
        "about";
      place-items: center;
    }
    .wrapper-skills {
      width: 100%;
      flex-flow: column;
    }
    .wrapper-skills li {
      font-size: 1.1em;
    }
    h2 {
      font-size: var(--mobile-size);
    }
  }
</style>
