<nav class="border-b text-2xl z-10 border-b-slate-300 py-2 md:block hidden">
  <ul class="flex flex-row gap-8">
    <li>
      <a href="/blog" title="Go to mi blog!">Blog</a>
    </li>
    <li>
      <a href="/projects" title="See my projects!">Projects</a>
    </li>
    <li>
      <a href="/contact" title="Contact me!">Contact</a>
    </li>
    <li>
      <a href="/about" title="About me..">About</a>
    </li>
  </ul>
</nav>
<style>
  nav > ul > li > a {
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.1s ease-in;
    display: block;
  }
  nav > ul > li > a:hover {
    text-decoration-color: #ffbd33;
    transform: scale(1.1);
    filter: brightness(1.1);
  }
</style>