---
import Heart from '../icons/Heart.astro'
const timeStamp = new Date(Date.now()).toLocaleDateString()
---
<footer class="fixed bottom-0 w-full flex flex-row justify-center max-w-7xl py-2 text-slate-300">
  <p class="flex flex-row backdrop-blur-md p-2"><span class="mr-1">Made with</span> <Heart /> <span class="ml-1">{timeStamp}</span></p>
</footer>