---
import Avatar from "./Avatar.astro";
import Greetings from "./Greetings.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <div class="wrapper">
    <Avatar />

    <h2 class="wrapper-h2">Leonel Donati</h2>
  </div>

  <Greetings />

  <Navigation />
</header>

<style>
  header {
    position: fixed;
    background-color: #292929;
    z-index: 2;
    width: 100%;
    max-width: 1270px;
    top: 0;
    padding: 0.5em 0;
    border-radius: 0.4em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .wrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .wrapper-h2 {
    color: var(--text-color-light);
    font-size: var(--paragraph-size);
  }
</style>
