---
import logoApp from "../assets/bounce-right.svg";
import DesktopNav from "./DesktopNav.astro";
import MobileNav from "./MobileNav.tsx";
---

<header
  class="w-full relative text-[#ffbd33] flex justify-center items-center py-4"
>
  <a
    class="absolute left-2 top-5 md z-10 flex flex-row items-center"
    href="/"
    title="Leonel Web"
  >
    <img
      class="w-[3em]"
      src={logoApp.src}
      alt="Logotype Web"
      width={logoApp.width}
      height={logoApp.height}
    />
    <span class="text-3xl font-bold">LWeb</span>
  </a>

  <DesktopNav />

  <MobileNav client:visible />
</header>