---
import logoApp from "../assets/bounce-right.svg";
import Menu from "../icons/Menu.astro";
import DesktopNav from "./DesktopNav.astro";
import MobileNav from "./MobileNav.astro";
---

<header
  class="w-full relative text-[#ffbd33] flex justify-center items-center py-4"
>
  <a class="absolute left-2 top-5 md z-10 flex flex-row items-center" href="/" title="Leonel Web">
    <img
      class="w-[3em]"
      src={logoApp.src}
      alt="Logotype Web"
      width={logoApp.width}
      height={logoApp.height}
    /> <span class="text-3xl font-bold">LWeb</span>
  </a>
  
  <DesktopNav />

  <!-- mobile -->
  <MobileNav />

  <button class="md:hidden absolute z-10 right-10 top-6">

    <Menu styles="w-10 h-auto" />
  </button>
</header>

<script>
  const $menuIcon = document.getElementById('menu-icon') as HTMLButtonElement;
  const $mobileNav = document.getElementById('movile-nav') as HTMLElement;
  let clicked = false;
  $menuIcon.addEventListener('click', (e) => {
    clicked = !clicked


    $mobileNav.style.transform = `translateX(${clicked ? '-10em' : '0'})`

    $menuIcon.style.rotate = clicked ? '90deg' : '0deg'
  })
</script>


