<div class="rounded overflow-hidden">
  <a
    href="https://linkedin.com/in/leoneldonati"
    rel="noreferrer noopener"
    title="¡Disponibilidad full-time!"
    class="p-2 rounded-xl text-white font-bold">Disponible para trabajar</a
  >
</div>

<style>
  a {
    display: block;
    border: 3px solid transparent;
    border-radius: 10px;
    background-clip: padding-box, border-box;
    border-image: linear-gradient(45deg, #ff0080, #ff8c00, #00ff80, #0080ff);
    border-image-slice: 1;
    animation: border 6s 0.1s alternate infinite;
    border-radius: 1em;
  }

  @keyframes border {
    0% {
      border-image-source: linear-gradient(
        45deg,
        #ff0080,
        #ff8c00,
        #00ff80,
        #0080ff
      );
    }
    100% {
      border-image-source: linear-gradient(
        45deg,
        #0080ff,
        #ff0080,
        #ff8c00,
        #00ff80
      );
    }
  }
</style>
