---
interface Props {
  className: string | null;
  styles: string | null;
}

const { className, styles } = Astro.props;
---

<article class={className} style={styles}>
  <h2>Thanks!</h2>

  <p>I have received your message, I will be responding shortly! 😄</p>
</article>
