
<nav id="movile-nav" class="z-10 fixed top-20 -right-40 transition rounded-md bg-black border-b-slate-300 py-2 block md:hidden">
  <ul class="flex flex-col p-4 [&>li>a]:block gap-2 [&>li>a]:border [&>li>a]:p-4 [&>li>a]:rounded-md">
    <li>
      <a href="/blog" title="Go to mi blog!">Blog</a>
    </li>
    <li>
      <a href="/projects" title="See my projects!">Projects</a>
    </li>
    <li>
      <a href="/contact" title="Contact me!">Contact</a>
    </li>
    <li>
      <a href="/about" title="About me..">About</a>
    </li>
  </ul>
</nav>