<nav>

  <ul>

    <li>
      <a href="#projects">Projects</a>
    </li>
    <li>
      <a href="#about">About</a>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
  </ul>

</nav>

<style>

  ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1.2em;
    font-size: var(--paragraph-size);
    list-style: none;
  }
  
  a {
    color: var(--text-color-light);
    text-decoration: none;
  }

</style>