---
import { getRepos } from "../github"
import ProjectCard from "./ProjectCard.astro"

const repos = await getRepos()

---
<section>
  <h2>
    Projects
  </h2>

  <div>

      {repos?.map(repo => <ProjectCard repo={repo}/>)}

  </div>
</section>

<style>
  section {
    min-height: 100vh;
  }
</style>