---
import { getRepos } from "../github"
import ProjectCard from "./ProjectCard.astro"

const repos = await getRepos()

---
<section>
  <h2>
    Projects<span>.</span>
  </h2>

  <div class="grid">

      {repos?.map(repo => <ProjectCard repo={repo}/>)}

  </div>
</section>

<style>
  section {
    min-height: 100vh;
    padding: 7em 0 2em 0;
  }

  h2 {
    font-size: var(--title-size);
  }

  h2 > span {
    color: var(--color-2);
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin-top: 1em;
  }

  @media (max-width: 1230px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 800px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
</style>