---
interface Props {
  t_name?: string;
  class?: string;
}

const { t_name, class: className } = Astro.props
---
<h2 class=`${className} md:text-[3em] text-[1.5em] font-bold text-white text-clip ` transition:name={t_name}>
  <slot/> 
</h2>