<button class="btn-top">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="34"
    height="34"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
      d="M12 5l0 14"></path><path d="M18 11l-6 -6"></path><path d="M6 11l6 -6"
    ></path></svg
  >
</button>

<style>
  button {
    background: var(--color-2);
    cursor: pointer;
    padding: .7em;
    border: 1px solid var(--color-2);
    border-radius: 9999px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 4;
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  }
  button:hover {
    transform: scale(.95);
  }
  button:active {
    transform: scale(1.05);
  }
</style>

<script>
  // Go to top of screen
  const $btn = document.querySelector(".btn-top") as HTMLButtonElement;
  function handleClick() {
    window.scrollTo(0, 0);
  }
  $btn.addEventListener("click", handleClick);

  // hide the button depending on the scroll
  let scrollY = 0;

  function handleScroll() {
    scrollY = window.scrollY;

    $btn.style.opacity = scrollY > 500 ? "1" : "0";
    $btn.style.pointerEvents = scrollY > 500 ? "auto" : "none";
  }

  window.addEventListener("scroll", handleScroll);
</script>
