<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio web Leonel Donati, desarrollo de sitios estáticos, aplicaciones web, API REST. Visita mi GitHub https://github.com/leoneldonati." />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<title>Leonel Donati - Portfolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		text-rendering: optimizeLegibility;
		--color-1: #c8c8c8;
		--color-2: #7B68EE;
		--text-color-dark: #292929;
		--text-color-light: #ffffffcc;
		--title-size: 4.5em;
		--paragraph-size: 1.6em;
	}
	*, *::after, *::before {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	@font-face {
		font-family: 'Karla';
		src: url('./Karla/Karla-VariableFont_wght.ttf'), format('ttf');
	}

	body {
		background: linear-gradient(146deg, rgba(41,41,41,1) 54%, rgba(57,57,57,1) 100%);
		min-height: 100vh;
		width: 100%;
		font-family: 'Karla', system-ui, sans-serif;
		color: var(--text-color-light);
	}
</style>
