---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/bounce-right.svg" />
		
		<!-- title -->
		<title>Leonel Web | {title}</title>
	</head>
	<body class="bg-[#333]">
		<main class="w-full max-w-7xl h-screen bg-[#666] mx-auto shadow-md shadow-[#777]">
			<Header />
			<slot />
			<Footer />
		</main>
	</body>
</html>
<!-- Estilos globales -->
<style is:global>
	@font-face {
		font-family: 'Heebo';
		src: url(./Heebo/Heebo-VariableFont_wght.ttf);
	}
  body {
		font-family: 'Heebo', sans-serif;
	}
</style>
