---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="description" content="Portfolio web Leonel Donati, desarrollo de sitios estáticos, aplicaciones web, API REST. Visita mi GitHub https://github.com/leoneldonati." />
		<meta name="keywords" content="JavaScript, Web Development, Web, HTML, CSS, React, Node, Leonel web, Astro">
		<meta name="author" content="Leonel Donati, @leonelweb">
		<meta name="language" content="English">
		<meta name="robots" content="index, follow">

		<!-- OG:Meta -->
		<meta property="og:title" content="Leonel Web - Desarrollo Web">
		<meta property="og:image" content="/public/og-meta/desktop-1.png">
		<meta property="og:url" content="https://leonelweb.ar">
		<meta property="og:type" content="website">


		<title>Leonel Donati - Portfolio</title>

		<ViewTransitions fallback="none" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		text-rendering: optimizeLegibility;
		scroll-behavior: smooth;
		/* variables */
		--color-1: #c8c8c8;
		--color-2: #a200ff;
		--text-color-dark: #292929;
		--text-color-light: #ffffffcc;
		--title-size: 4.5em;
		--mobile-size: 3.5em;
		--paragraph-size: 1.6em;


		::-webkit-scrollbar {
			background: linear-gradient(146deg, rgba(41,41,41,1) 54%, rgba(57,57,57,1) 100%);
		}
		::-webkit-scrollbar-thumb {
			background: var(--color-2);
			border-radius: .5em;
		}
	}
	*, *::after, *::before {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	ul {
		list-style: none;
	}
	@font-face {
		font-family: 'Karla';
		src: url('./Karla/Karla-VariableFont_wght.ttf') format('ttf');
	}

	body {
		background: linear-gradient(146deg, rgba(41,41,41,1) 54%, rgba(57,57,57,1) 100%);
		min-height: 100vh;
		width: 100%;
		font-family: 'Karla', system-ui, sans-serif;
		color: var(--text-color-light);
	}
	p {
		text-wrap: pretty;
	}
</style>
