---
import { ViewTransitions } from "astro:transitions";

interface Props {
  currentPage?: string;
  description: string;
}

const { currentPage, description } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/LOGOTIPO-LEONEL-WEB.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>
      {currentPage ? currentPage : "Leonel Donati - Desarrollador Web"}
    </title>

    <ViewTransitions fallback="none" />
  </head>
  <body>
    <main class="max-w-[1200px] mx-auto">
      <slot />
    </main>
  </body>
</html>

<style>
  body {
    background: linear-gradient(to right top, rgb(33, 33, 33), rgb(44, 44, 44));
  }
</style>
